<div class="cadre">
    <div class="text">
        <div class="logo">
            <img src="assets/img/icons/{{stock.symbol}}.png" class="stock-icon">
        </div>
        <div class="alligner-all">
            <div class="alligner-title" >
                <div class="symbol">
                    <p>{{this.stock.symbol}} </p> 
                </div>
                <div class="titre" >
                    <p> {{this.stock.name}}</p>
                </div>
            </div >
            <div >
                <span class="price">{{this.stock.Close}} </span><span>usd</span>
              
            </div>
        </div>
    </div>
</div>
