.Money{
    text-align: center;
    border: 2px solid blue;
    width: 500px;
    height: 70px;
    margin-top: 5%;
}

p{
    color : red;
}
@media only screen and (max-width: 600px) {
    .Money{
        width: fit-content;
        padding: 20px;
        height: 100px;

    }
    }