.Thumbnail-stock
{
	margin: 2%;
	width: 20%;
	height: 250px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  	 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px
}
.stock-header{
	padding : 5%;
	display: flex;

}
.stock-names{
padding-top: 5px;
}
.stock-icon{
	height: 50px;
	width: 50px;
	margin-right: 40px;
}
.short-name{

  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
color: black
}
.full-name{
	display: inline-block;
  vertical-align: middle;
	font-family: sans-serif;
color: grey;
}
.change{
		padding : 5%;
	display: flex;
	justify-content: space-between;
}
.down{
	color: red;
}
.smallbox{

	width: 45%
}
.buy-sell-box{
	padding : 5%;
	display: flex;
	justify-content: space-between;
}
.smallbox-title{
	line-height: 30px;
	font-weight: 900;
	border-top-left-radius: 10px;
		border-top-right-radius: 10px;

	  font-family: sans-serif;

	padding-left: 10px;
	color :white;
	background-color: grey;
}
.smallbox-price
{
	border: 1px solid grey;
	font-family: sans-serif;
	line-height: 40px;
    padding: 5px;
    text-align: right;
}
.line
{
    padding: 20px;
	justify-content: center;
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-flow: wrap; 
}
.grid {
    margin: 0;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 10px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
}
.boldtext{
    font-weight: bold;
}