
<div>


</div>
<div class="mainbody">
    <div class="Textdiv">
        <div class="title-container">
            <span class="h1homebold" id="maintitle">EB</span>
            <span class="h1homeThin">Trading </span>
        </div>
        <br>
        <span class="h1homebold"  >Your way of success</span>
        <br>
        <span class="h1homebold">We help you to create the best business plan</span><br>
        <span class="h1homebold">  resource & execution</span>
        <br>
        <BUTTON class="btn-md" id="detailbutton">Details > </BUTTON>
    </div>
</div>