.bt1{
    height: 100%; width: 30%;
}
.bt2{
    height: 100%; width: 30%;
}
.bt3{
    height: 100%; width: 30%;
}
@media only screen and (max-width: 600px) {
    .bt1{
        height: 100%; width: 35%;
    }
    .bt2{
        height: 100%; width: 20%;
    }
    .bt3{
        height: 100%; width: 40%;
    }
}